$main-color: #EB1515;
$main-font:  Serif Caption;
$title-color: #4A1717;
$title-circle: #F70D0D;
$bg-circle: #EB1515;
$pc: 481px;
$mb: 480x;
$main-font:'PT Serif Caption', serif;
$font-color:#4A1717;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

body main {
  width: 100%;
  margin: 0;

  // header start
  header {
    background-color: $main-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    margin: 0;
  
    .header_title {
      font-family: 'PT Serif Caption', serif;
      font-size: 1.6rem;
      color: #fff;
      line-height: 2rem;
      padding: 0.5rem 2rem;
      z-index: 20;
    }
    .header_title--logo {
      z-index: 10;
      margin-left: -65rem;
    }
    img {
      width: 7%;
      height: auto;
      transform: rotate(-3deg);
    }
    .header_menu--list li{
      list-style: none;
      color: #fff;
      font-family: 'Hiragino Kaku Gothic ProN' sans-serif;
      display: inline-block;
      margin-left: 1rem;
      vertical-align: middle;
      font-size: 1.2rem;
      &:last-child{
        margin-right: 20px;
      }
    }
    .header_menu--listmb{
      display: none;
    }
  }
  // end
  
  // eyecacth start
  .eyecacth_wrapper {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 0;
    .eye_img {
      width: 100%;
      z-index: 20;
      position: relative;
    }
    .eyecacth_wrapper--ttl{
      writing-mode: vertical-rl;
      color: #F6F4F4;
      font-size: 2rem;
      font-family: 'PT Serif Caption', serif;
      font-weight: normal;
      letter-spacing: 0.6rem;
      z-index: 50;
      position: absolute;
      top: 3.6rem;
      left: 16rem;
  // 縦書き
   }
    .eyecacth_ttl--bg {
    width: 30rem;
    height: 30rem;
    background: #eb1515;
    border-radius: 50%;
    filter: blur(20px);
    z-index: 30;
    top: 3rem;
    left: 5rem;
    position: absolute;
    }
  }
  // eyecacth end

  // about start
  .about_wrapper {
    background-color: #FEDEDE;
    padding: 4rem 0;
    position: relative;
    .about_wrapper--ttl {
      width: 90%;
      color: $font-color;
      font-size: 3rem;
      font-family: $main-font;
      position: absolute;
      z-index: 20;
      vertical-align: middle;
      text-align: center;
      margin-left: 6rem;
          }
    .dot_line{
      display: flex;
      justify-content: center;
      margin: 60px 0;

    }
    .dot {
      background:$title-circle;
      border-radius: 50%;
      border: 1rem solid $title-circle;
      width: 1%;
      margin: 4rem 1rem;
    }
    .ttl_bg {
      font-weight: bold;
      color: #4A1717;
      opacity: 5%;
      font-size: 11rem;
      position: absolute;
      z-index: 10;
      left: 25rem;
      top: -10rem;
    }
  }
  .about_wrapper--contents {
    display: flex;
    width: 82%;
    margin: 0 auto;
    justify-content: center;
  }
  .about-img {
    width: 20%;
    height: auto;
  }
  .about_contents--txt {
    width: 60%;
    padding-left: 4rem;
    line-height: 2.2rem;
    letter-spacing: 0.3rem;
    font-size: 24px;
  }
  h3 {
    font-weight: bold;
    line-height: 2.3rem;
    padding: 1rem 0;
    margin: 0;
    
  }
  .about_wrapper--section{
    line-height: 2.7rem;
  }
  p .fontcolor {
  color: red;
  font-weight: bold;
  }
  .fontweight {
    font-weight: bold;
  }
    .about_wrapper--section2{
      line-height: 2.7rem;
    }
}