$main-color: #eb1515;
$main-font: Serif Caption;
$title-color: #4a1717;
$title-circle: #f70d0d;
$bg-circle: #eb1515;
$pc: 481px;
$mb: 480x;
$main-font: "PT Serif Caption", serif;
$hcolor: #F96263;
@mixin ttl {
  width: 90%;
  font-size: 3rem;
  font-family: $main-font;
  position: absolute;
  z-index: 20;
  vertical-align: middle;
  text-align: center;
}
@mixin dot {
  background: $title-circle;
  border-radius: 50%;
  border: 1rem solid $title-circle;
  width: 1%;
  margin: 4rem 1rem;
  opacity: 0.7;
  color: #f96263;
}
@mixin dotline {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
@mixin ttlbg {
  font-weight: bold;
  color: #707070;
  opacity: 5%;
  font-size: 8rem;
  position: absolute;
  z-index: 10;
  left: 25rem;
  top:-5rem;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap");

body {
  width: 100%;
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  h2 {
    @include ttl;
  }
  .dot_line {
    @include dotline;
  }
  .dot {
    @include dot;
  }
  .ttl_bg {
    @include ttlbg;
  }

  // header start
  header {
    background-color: $main-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    margin: 0;

    .header_title {
      font-family: "PT Serif Caption", serif;
      font-size: 1.6rem;
      color: #fff;
      line-height: 2rem;
      padding: 0.5rem 2rem;
      z-index: 20;
    }
    .header_title--logo {
      z-index: 10;
      margin-left: -65rem;
    }
    img {
      width: 7%;
      height: auto;
      transform: rotate(-3deg);
    }
    .header_menu--list li {
      list-style: none;
      color: #fff;
      display: inline-block;
      margin-left: 1rem;
      vertical-align: middle;
      font-size: 1.2rem;
      &:last-child {
        margin-right: 20px;
      }
    }
    .header_menu--listmb {
      display: none;
    }
  }
  // end

  // eyecacth start
  .eyecacth_wrapper {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 0;
    .eye_img {
      width: 100%;
      z-index: 20;
      position: relative;
    }
    .eyecacth_wrapper--ttl {
      writing-mode: vertical-rl;
      color: #f6f4f4;
      font-size: 2rem;
      font-family: "PT Serif Caption", serif;
      font-weight: normal;
      letter-spacing: 0.6rem;
      z-index: 50;
      position: absolute;
      top: 3.6rem;
      left: 16rem;
      // 縦書き
    }
    .eyecacth_ttl--bg {
      width: 30rem;
      height: 30rem;
      background: #eb1515;
      border-radius: 50%;
      filter: blur(20px);
      z-index: 30;
      top: 3rem;
      left: 5rem;
      position: absolute;
    }
  }
  // eyecacth end

  // about start
  .about_wrapper {
    background-color: #fedede;
    padding: 4rem 0;
    position: relative;
    width: 100%;
  }
  .about_wrapper--contents {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    font-family: "Hiragino Kaku Gothic ProN" sans-serif;
  }

  .about-img {
    width: 15%;
    height: auto;
  }
  .about_contents--txt {
    width: 75%;
    padding-left: 2rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    font-size: 24px;
  }
  h3 {
    font-weight: bold;
    line-height: 2.3rem;
    padding: 1rem 0;
    margin: 0;
    font-size: 30px;
  }
  .about_wrapper--section {
    line-height: 2.2rem;
  }
  p .fontcolor {
    color: red;
    font-weight: bold;
  }
  .fontweight {
    font-weight: bold;
  }
  .about_wrapper--section2 {
    line-height: 2.7rem;
  }
  .about_wrapper--btn {
    width: 40%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    button {
      display: inline-block;
      background-color: #f96263;
      border: none;
      padding: 1rem;
      border-radius: 4rem;
    }
  }
  // about end

  // explanation start
  .explanation_wrapper {
    width: 100%;
    position: relative;
    .explanation_wrapper--ttl {
      .ttl_bg {
        top: 40rem;
      }
    }
    h2 {
      @include ttl;
    }
    .dot_line {
      @include dotline;
    }
    .dot {
      @include dot;
    }
    
  }
  .explanation_wrapper--block {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    .explanation_wrapper--contents {
      width: 90%;
      border: 1px solid #707070;
    }
    .ttl_set {
      width: 90%;
      margin: 3rem auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .ttl_set.culm {
      flex-direction: row-reverse;
      display: inline-block;
    }
    h3 {
      font-size: 3rem;
      color: #000000;
      opacity: 0.5;
      position: relative;
    }
    .ttl_number {
      font-size: 7rem;
      color: #fff;
      opacity: 0.2;
      font-weight: bold;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #F4A3A3;
      position: absolute;
      margin: -0.5rem 3rem;
      
    }
    img {
      width: 40%;
    }
    .contents_ttl {
      text-align: center;
      font-size: 2.6rem;
    }
    .contents_ttl--list {
      color: #EA70A8;
      font-weight: bold;
      text-align: center;
      font-size: 1.4rem;
      line-height: 0.8;
    }
    .contents_txt {
      width: 95%;
      margin: 0 auto;
      font-size: 1.4rem;
      line-height: 2.5rem;
      letter-spacing: 0.5rem;
      color: #726E6E;
      padding: 3rem;

    }
    span {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    }
    .contents_txt--list  li{
      color: red;
      line-height: 1.5;
      padding: 1.5rem;
    }
    .contents_ttl--list.wrap{
      display: inline-block;
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      justify-content: center;
      margin: 0 auto;
    }
    .contents_ttl--list p {
      padding-left: 1.2rem;
    }
    
  }
    .explanation_wrapper--btn {
    width: 60%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
     button {
      display: inline-block;
      background-color: #f96263;
      border: none;
      padding: 1.4rem;
      border-radius: 4rem;
      font-size: 1.5rem;
      margin: 1.5rem;
    }
    button.contents_btn{
      background-color: #DCA9DD;

    }
  }
    

  // price start
  .price_wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #F5AEAE;
    position: relative;
  }
  .price_wrapper--contents {
    width: 70%;
    margin: 0 auto;
    text-align: left;
  }
  .medicalfacility, .homesalon, .option{
    color: #fff;
    background-color: #F17171;
    border-radius: 20px;
    border: 1px solid #F17171;
    padding: 8px;
    text-align: center;
    width: 17%;
    font-size: 1rem;
  }
  .price_plan--ttl {
    display: flex;
    justify-content: space-around;
    text-decoration: underline rgba($color: #ECF0D9, $alpha: 0.66);
    text-decoration-thickness: 10px;
    text-underline-offset: -10px;
  }
  .time {
    width: 20%;
  }
  .medicalfacility_plan--menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #707070;
  }
  .menu_list {
    list-style: none;
    width: 33%;
    margin: 2rem auto;
    text-align: left;
  }
  .time, .price{
    list-style: none;
    text-align: left;
    width: 20%;
    align-items: flex-end;
  }
  .time, .price li {
    text-align: right;
  }
  .twoset_plan--menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #707070;
    align-items: flex-end;
  }
  .threeset_plan--menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #707070;
    align-items: flex-end;
  }
  .option_menu--contents{
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  }
  .option_plan--menu li{
     padding-bottom: 1.4rem;
     list-style: none;
     padding-left: 4rem;
   }
  .option_price--list li{
    list-style: none;
    padding-bottom: 2.2rem;
    padding-right: 4rem;
    
  }
.option {
    font-size: 1em;

  }
  // explanation end

  // content start

  .content_wrapper {
    width: 100%;
    background-color: #FAEAEB;
    position: relative;
    padding-bottom: 5rem;
    .dot_line {
      margin: 0;
    }
    h3 {
      color: $hcolor;
      text-align: center;
    }
    .medicalfacility_section {
      border: 1px solid #707070;
      border-radius: 50%;
      margin: 0 auto 4rem;
      width: 95%;
      background-color: #fff;
      // .medicalfacility_section {
        //   text-align: left;
        // }
        .medicalfacility_section--top {
          display: flex;
          justify-content: center;
          margin-top: 2.8rem;
          img {
            width: 20%;
          }
          ul .medi_list {
            align-items: center;
            display: inline-block;
          }
        }
        .medicalfacility_section--txt p{
          width: 70%;
          font-size: 1.8rem;
          font-weight: normal;
          margin: 0 auto;
          padding: 2rem 1rem 0;
          &:last-child {
            font-size: 1.6rem;
          }
        }
        .contents_section--flow {
          display: flex;
          justify-content: space-around;
          position: relative;
          margin: 5rem;
          p {
            -webkit-text-stroke-color: rgba(249, 98, 99, 0.26);
            position: absolute;
            font-size: 5rem;
            color: $hcolor;
            opacity: 0.7;
            font-weight: bolder;
            top: -10rem;
            left: -1rem;
            
          }
          img {
            width: 50%;
            display: inline-block;
            justify-content: space-between;
          }
          
          .arrow {
            padding-left: 2rem;
            width: 4rem;
            vertical-align: bottom;
          }
          h4 {
            color: $hcolor;
            text-align: center;
          }
          .hearing, .treatment, .rest, img {
            align-self: flex-end;
            position: relative;
          }
        }
        .medicalfacility_section--end {
          width: 80%;
          text-align: left;
          margin: 0 auto;
          display: flex;
          justify-content: center;
        }
        .medi_famimg {
          width: 20%;
          padding-left: 1rem;
        }
        .section_txt {
          width: 50%;
        }
        .btn {
          width: 50%;
          display: flex;
          justify-content: space-around;
          margin: 2rem auto;
        }
        button {
          border-radius: 20px;
          background-color: #FAEAEB;
          border: none;
          padding: 12px;
          width: 30%;
          font-weight: bold;
        }
        .attention {
          width: 58%;
          margin: 0 auto;
          font-size: 1rem;
        }
        .attention_ttl {
          text-align: center;
        }
        .attention_ttl span {
          color: red;
        }
        .botton{
          width: 60%;
          padding: 2rem;
          margin: 0 auto;
          text-align: center;
        }
        .contact_btn {
          background-color: rgba($color: #EE4D4D, $alpha: 0.8);
          font-size: 1rem;
          border-radius: 30px;
          padding: 1rem;
          width: 30%;
        }
      }
      // medi end

      //home start
      .contents_wrapper--homesalon {
        width: 95%;
        margin: 0 auto;
        border: 1px solid #070707;
        border-radius: 20px;
        background-color: #fff;
      }
      .homesalon-wrapper-top {
        display: flex;
        justify-content: center;
        margin: 3rem auto;
      }

      .homesalon-wrapper-top img {
        width: 200px;
      }
      .homesalon_section--condition {
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: 0 auto;
      }
      .condition_section--txt {
        border: 1px solid none;
        background-color: #F17171;
        border-radius: 50%;
        width: 15%;
        position: relative;
        margin-top: 1rem;
      }
      .condition_section--txt p {
        color: #fff;
        font-size: 1.2rem;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1.5px;
      }
      .condition_section--txt p:nth-child(n+1){
        padding-top: 2rem;
      }
      .homesalon_section--txt {
        text-align: center;
        padding: 2rem 0;
        font-size: 1.5rem;
      }
      .img_icon {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
      }
      .img_icon img {
        width: 18%;
        padding: 1rem 3rem;
      }
    .btn {
      width: 50%;
      display: flex;
      justify-content: space-around;
      margin: 2rem auto;
    }
    button {
      border-radius: 20px;
      background-color: #FAEAEB;
      border: none;
      padding: 12px;
      width: 30%;
      font-weight: bold;
    }
    .contents_section--flow {
      display: flex;
      justify-content: space-around;
      position: relative;
      margin: 5rem;
      p {
        -webkit-text-stroke-color: rgba(249, 98, 99, 0.26);
        position: absolute;
        font-size: 5rem;
        color: $hcolor;
        opacity: 0.7;
        font-weight: bolder;
        top: -10rem;
        left: -1rem;
        
        }
        img {
          width: 50%;
          display: inline-block;
          justify-content: space-between;
        }
        
        .arrow {
          padding-left: 2rem;
          width: 4rem;
          vertical-align: bottom;
        }
        h4 {
          color: $hcolor;
          text-align: center;
        }
        .hearing, .treatment, .rest, img {
          align-self: flex-end;
          position: relative;
        }
      }
      .homesalon_section--end {
        width: 80%;
        margin: 2rem auto;
        text-align: center;
      }
    }
      img {
        width: 18%;
      }
    .botton{
      padding: 2rem;
      margin: 0 auto;
      text-align: center;
    }
    .contact_btn {
      background-color: rgba($color: #EE4D4D, $alpha: 0.8);      border-radius: 30px;
      padding: 1em 0.8em;
      width: 20%;
    }
    // content end

    // ahievement start
    .achievement_wrapper {
      position: relative;
      h3 {
        color: $main-color;
        text-align: center;
        font-size: 1em;
      }
      ul li {
        text-align: center;
        list-style: none;
      }
      .ahievement_attention--txt{
        text-align: center;padding: 2em;

      }
      p {
        color: #070707;
      }
      .ahievement_wrapper--img {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 3em auto;
      }
      .ahievement_img {
        border-radius: 10px;
        width: 28%;
      }
    }
    // ahievement end

    // voice start
    .voice_wrapper {
      width: 100%;
      background-color: #FAEAEB;
      position: relative;
    }
    .voice_wrapper--card {
      flex-wrap: wrap;
      margin: 2em auto;
      width: 80%;
      display: flex;
      justify-content: space-around;
        &:last-of-type, .voice_card--menu {
          padding-left: -1em;
      
      .voice_card--contents {
        background-color: #fff;
        border: 1px solid #070707;
        border-radius: 20px;
        padding: 2rem;
        margin: 2rem;
        width: 40%;
        position: relative;
      }
      img {
        left: 8.5em;
        position: absolute;
      }
      .voice_card--old {
        top: 6em;
        left: 8em;
        position: absolute;
         }
      }
      .voice_card--ttl {
        position: absolute;
        top: 7em;
      }
      .voice_card--menu {
        margin-top: 8em;
      }
      .voice_card--txt {
        margin-top: 3em;
      }
    }
  }