@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap");
header {
  background-color: #EB1515;
  width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  position: relative;
  z-index: 0;
  margin: 0;
}

header .header_title {
  font-family: 'PT Serif Caption', serif;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2rem;
  padding: 0.5rem 2rem;
  z-index: 20;
}

header .header_title--logo {
  z-index: 10;
  margin-left: -65rem;
}

header img {
  width: 10%;
  height: auto;
  transform: rotate(-10deg);
}

header .header_menu--list li {
  list-style: none;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic ProN' sans-serif;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
  font-size: 1.2rem;
}

header .header_menu--list li:last-child {
  margin-right: 20px;
}

header .header_menu--listmb {
  display: none;
}

.eyecacth_wrapper {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 0;
  margin: 0;
}

.eyecacth_wrapper .eye_img {
  width: 100%;
  margin: 0;
  z-index: 20;
  position: absolute;
}

.eyecacth_wrapper .eyecacth_wrapper--ttl {
  writing-mode: vertical-rl;
  color: #F6F4F4;
  font-size: 2rem;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  letter-spacing: 0.8rem;
  z-index: 50;
  position: relative;
  top: 3.8rem;
  left: 15rem;
}

.eyecacth_wrapper .eyecacth_ttl--bg {
  width: 30rem;
  height: 30rem;
  background: #eb1515;
  border-radius: 50%;
  filter: blur(20px);
  z-index: 30;
  top: 3rem;
  left: 5rem;
  position: absolute;
}
